*{
    margin: 0;
    padding: 0;

}
#navigation {
    background-image: linear-gradient(#0041ff, #186495);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navigation > ul{
    display: flex;
    margin-right: 50px;
    padding: 15px 0;
}
#navigation > ul > li{
    list-style: none;
}
#navigation > ul > li > a{
    text-decoration: none;
    color: #fff;
    font-size: 28px;
    border-right: 1px solid white;
    padding: 15px  20px;
    transition: .5s;
}
#navigation > ul > li > a:hover{
    background-color: rgb(15, 53, 90);
}
#navigation > ul > li:first-child > a{
    border-left: 1px solid #fff;
}
.logo > h1{
    color: #fff;
    margin-left: 50px;
    font-size: 25px;
}
.log-first-letter{
    color: red;
}
/* dropdown menu start*/
.dropdownMenu {
    background-color: dodgerblue;
    text-align: center;
    margin-top: 15px;
    width: 150px;
    position: absolute;
    transition: 1s;
    opacity: 0;
    visibility: hidden;
    transform: scaleY(0);
    transform-origin: top center;
    box-shadow: 10px 10px 8px black;
}
.dropdownMenu > li{
    list-style-type: none;
    padding: 10px 0;
    border-bottom: 1px solid #fff;
    
}
.dropdownMenu > li > a{
    text-decoration: none;
    color: #fff;
}
.dropdownMenu > li:first-child{
    border-top: 1px solid #fff;
}
#navigation > ul > li:hover > .dropdownMenu {
    opacity: 1; 
    visibility: visible;
    transform: scaleY(1);
}
.dropdownMenu > li:hover{
    background-color: #2980b9;
}

/* Hero area code start here */
#main-header {
    text-align: center;
    background-image: linear-gradient(rgb(0 0 0 / 46%), rgba(0, 0, 0, 0.281)), url(../img/web\ header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90vh;
}
.header-container{
    padding-top: 100px;
}
.header-container h1 {
    width: 700px;
    background-color: rgba(27, 88, 148, 0.604);
    margin: 20px auto;
    font-size: 50px;
    color: #fff;
    padding: 40px 0;
    border-radius: 5px;
}
.header-container button{
    font-size: 22px;
    padding: 15px 20px;
    margin-top: 20px;
    background-color: rgb(33, 104, 175);
    border-radius: 10px;
    border: 4px solid green;
    cursor: pointer;
    transition: .5s;
    color: #fff;
}
.header-container button:hover{
    background-color: rgba(0, 0, 0, 0.102);
}
.header-container h4{
    font-size: 25px;
    color: rgb(73, 73, 73);
}
.header-container h5{
    font-size: 25px;
    color: rgb(79, 79, 79);
}
.social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.social-icon > a{
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}
.social-icon > a > i{
    width: 30px;
    height: 30px;
    font-size: 30px;
    background-color: rgba(0, 128, 0, 0);
    padding: 10px;
    border-radius: 50%;
    margin-top: 20px;
    border: 2px solid #fff;
    transition: .5s;
}
.social-icon > a > i:hover{
    background-color: rgba(15, 203, 115, 0.751);
    transform: rotate(360deg);
}

/* first ection code here */
#first-section {
    background-color: #e8e5e2;
}
#first-container{
    display: flex;
    width: 1000px;
    margin: auto;
    justify-content: space-between;
    padding: 100px 0;
}
.card-design{
    width: 300px;
    text-align: center;
    padding: 30px 10px;
    transition: .5s;
}
.card-design:hover{
    box-shadow: 3px 3px 10px gray;
}
.card-design > i{
    font-size: 50px;
}
.card-design > h2{
    margin: 15px 0;
}
.smart-area-title > h2{
    font-size: 40px;
    text-align: center;
    position: relative;
}
.smart-area-title > h2::after {
    content: "";
    top: 50px;
    left: 901px;
    width: 100px;
    height: 5px;
    background-color: #7f4646;
    position: absolute;
}
.smart-area{
    display: flex;
    width: 1000px;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
}
.smart-area-text{
    width: 500px;
}
.smart-area-text > h2{
    margin: 20px 0;
}
.smart-area-text  > h4{
    color: #7f4646;
}
.smart-area-text > a{
    text-decoration: none;
    background-color: #7f4646;
    color: white;
    font-size: 20px;
    padding: 10px 30px;
    margin: 20px 0;
    display: inline-block;
    border-radius: 5px;
    transition: .5s;
}
.smart-area-text > a:hover{
    background-color: #4e2626;
}