*{
    margin: 0;
    padding: 0;

}
#navigation {
    background-image: linear-gradient(#0041ff, #186495);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navigation > ul{
    display: flex;
    margin-right: 50px;
    padding: 15px 0;
}
#navigation > ul > li{
    list-style: none;
}
#navigation > ul > li > a{
    text-decoration: none;
    color: #fff;
    font-size: 28px;
    border-right: 1px solid white;
    padding: 15px  20px;
    transition: .5s;
}
#navigation > ul > li > a:hover{
    background-color: rgb(15, 53, 90);
}
#navigation > ul > li:first-child > a{
    border-left: 1px solid #fff;
}
.logo > h2{
    color: #fff;
    margin-left: 50px;
    font-size: 25px;
}
.log-first-letter{
    color: red;
}
/* dropdown menu start*/
.dropdownMenu {
    background-color: dodgerblue;
    text-align: center;
    margin-top: 15px;
    width: 150px;
    position: absolute;
    transition: 1s;
    opacity: 0;
    visibility: hidden;
    transform: scaleY(0);
    transform-origin: top center;
    box-shadow: 10px 10px 8px black;
}
.dropdownMenu > li{
    list-style-type: none;
    padding: 10px 0;
    border-bottom: 1px solid #fff;
    
}
.dropdownMenu > li > a{
    text-decoration: none;
    color: #fff;
}
.dropdownMenu > li:first-child{
    border-top: 1px solid #fff;
}
#navigation > ul > li:hover > .dropdownMenu {
    opacity: 1; 
    visibility: visible;
    transform: scaleY(1);
}
.dropdownMenu > li:hover{
    background-color: #2980b9;
}